<h1>Consentimiento Informado Tratamiento Estético y Autorización de Uso de Imagen</h1>

<p>
    De manera consciente, libre y clara manifiesto que <strong>AUTORIZO</strong> a <strong>STUDIO GRAFFE S.P.A</strong>, identificada con RUT 77.472.881-3 para que realice en mi cuerpo (cabello, uñas, vello, cejas, y demás componentes del cuerpo humano) los procedimientos y/o tratamientos estéticos indicados en el final de este documento digital.
</p>

<p>
    <strong>DECLARO</strong> que he sido informado/a en términos claros y comprensibles sobre la naturaleza del procedimiento, sus posibles efectos, riesgos, complicaciones y restricciones, así como las recomendaciones previas y posteriores al tratamiento. También entiendo que los resultados pueden variar según factores individuales y externos, y que el profesional a cargo no puede garantizar resultados específicos.
</p>

<p>
    De igual manera se me ha informado que la duración y/o porcentaje de efecto de los resultados obtenidos del o los procedimientos, pueden variar en el tiempo teniendo en cuenta factores ambientales y/o orgánicos, así mismo que los factores que puedan afectar el resultado propio de este procedimiento son inciertos incluso para el profesional a cargo del tratamiento, sin embargo, me comprometo a seguir con las indicaciones brindadas por los profesionales designados de <strong>STUDIO GRAFFE S.P.A</strong>, buscando el mejor resultado para mí.
</p>

<p>
    <strong>ACEPTO</strong> que si mi tratamiento y/o procedimiento requiere la aplicación de productos adicionales o procedimientos diferentes a los inherentes de aquellos que se me adelanten por parte de <strong>STUDIO GRAFFE S.P.A</strong> para lograr el efecto que deseo, estos serán sufragados en su totalidad por mi cuenta una vez identificada la necesidad y se me notifique.
</p>

<p>
    <strong>ACEPTO Y DECLARO</strong> expresamente que comprendo que los procesos que se me realizarán no pueden garantizar resultados exactos, por lo que la obligación de quien participe de mi atención en la ejecución de los procedimientos que corresponden al/los tratamientos/s elegido/s será siempre de medios y no de resultados, sin embargo, para efectos de reclamación esta se hará exclusivamente a la obra de mano contratada, eximiendo de cualquier perjuicio a <strong>STUDIO GRAFFE S.P.A</strong> y a los productos provistos para el servicio.
</p>

<p>
    <strong>ACEPTO Y DECLARO</strong> que tengo claridad frente a los valores del(los) servicio(s) prestado(s) y que por consiguiente estoy de acuerdo con los mismos, absteniéndome de cualquier reclamación por el servicio prestado o los productos empleados por los profesionales designados por <strong>STUDIO GRAFFE S.P.A</strong>, así mismo, me comprometo a seguir puntualmente las instrucciones compartidas para antes, durante y después del/los tratamientos/s que se me realicen, de igual manera me comprometo a suministrar la información necesaria para la construcción de una ficha informativa y a <strong>NO</strong> omitir ni alterar ningún dato personal ni antecedente médico o de salud que pueda llegar a verse comprometido por la aplicación de productos y/o tratamientos.
</p>

<p>
    Doy fe de no haber omitido o alterado datos al exponer mi historial de salud, específicamente los referidos a embarazos, alergias y/o enfermedades que puedan verse afectadas o agravadas debido al procedimiento a aplicar, en consecuencia, de la veracidad de los datos informados en general <strong>ACEPTO</strong> la responsabilidad civil y penal que me asiste por omisión o manifestación errónea sobre mi estado real de salud a lo expuestos anteriormente.
</p>

<p>
    De la misma forma autorizo a <strong>STUDIO GRAFFE S.P.A</strong>, identificada con RUT 77.472.881-3 para que haga el uso y tratamiento de mis derechos de imagen para incluirlos sobre fotografías y producciones audiovisuales (videos); así como de los Derechos de Autor; los Derechos Conexos y en general todos aquellos derechos de propiedad intelectual que tengan que ver con el derecho de imagen.
</p>

<p>
    Tengo claro que mis datos serán tratados conforme a la legislación chilena, en específico a la <strong>Ley N.º 19.628 sobre Protección de la Vida Privada</strong>. Autorizo el tratamiento, manejo, traslado, corrección y actualización de mis datos personales para los fines previstos a la entidad <strong>STUDIO GRAFFE S.P.A</strong>. Por la presente, yo y mis sucesores o cesionarios eximimos a <strong>STUDIO GRAFFE S.P.A</strong>, a sus colaboradores, empleados, arrendatarios y a cualquier otra persona que participe en mi atención, y a sus sucesores y cesionarios, de toda responsabilidad ante cualquier reclamo por daños o de indemnización que surja de las actividades autorizadas por este acuerdo. La responsabilidad de la compañía se limita a tener los medios que garanticen esta seguridad. Informándoles también que usted(es) tiene(n) el derecho de solicitar, actualizar, modificar y suprimir en cualquier momento su información, estos derechos se pueden hacer factibles a través del correo: <a href="mailto:studiograffe3@gmail.com">studiograffe3@gmail.com</a>
</p>

<ul>
    <li>Este video/foto podrá ser utilizado con fines publicitarios en las diferentes plataformas y redes sociales de <strong>STUDIO GRAFFE S.P.A</strong>.</li>
    <li>Este video/foto en ningún momento será utilizado para objetivos distintos. <strong>STUDIO GRAFFE S.P.A</strong> queda exenta de cualquier responsabilidad civil o penal que se pueda derivar de la presente actividad con la firma de la autorización.</li>
    <li>La presente autorización no tiene ámbito geográfico determinado, por lo que las imágenes en las que aparezca podrán ser utilizadas en el territorio del mundo, así mismo, tampoco tiene ningún límite de tiempo para su concesión, ni para explotación de las imágenes, o parte de estas, por lo que mi autorización se considera concedida por un plazo de tiempo ilimitado.</li>
</ul>

<p>
    En mi calidad de persona natural autorizo el uso de derechos de imagen sobre fotografías y producción audiovisual (videos), así como los patrimoniales de autor y derechos conexos, y en general todos aquellos derechos de propiedad intelectual que tengan que ver con el derecho de imagen.
</p>

<p>
    En constancia de lo anterior, me identifico y firmo digitalmente el presente documento digital.
</p>
